.header {
  position: sticky;
  font-family: $main-font;
  position: sticky;
  top: 0;
  color: #f0ecec;
  z-index: 1000;
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-weight: 400;
  align-items: center;
  justify-content: space-between;
  background-color: $dark-color;
  margin: 0px;

  .title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 25px;
    @media (min-width: $md) {
      margin-left: 100px;
    }
    @media (min-width: $sm) {
      margin-left: 75px;
    }

    h1 {
      font-weight: 500;
      font-size: 2rem;
    }
    h6 {
      font-family: $fancy-font;
    }
  }

  .nav {
    margin-right: 25px;
    @media (min-width: $sm) {
      margin-right: 75px;
    }
    @media (min-width: $md) {
      margin-right: 100px;
    }
  }

  .nav-button {
    color: $light-color;
    border-radius: 50%;
    &:focus {
      background-color: $dark-color-highlight;
    }
    &:hover {
      background-color: $dark-color-highlight;
    }
    @media (min-width: $md) {
      display: none;
    }
  }

  .nav-bar {
    display: none;

    @media (min-width: $md) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .tab-margin {
    margin-left: 25px;
  }
  .tab {
    padding: 10px 15px;
    border-radius: 20px;
    text-align: center;
    color: $light-color;
    text-transform: capitalize;
  }
  .tab-active {
    background-color: $dark-color-highlight;
    border-radius: 20px;
    font-weight: 500;
  }
}
