.dogSearch {
  text-align: center;
  width: 100%;
  .dogSearch-head {
    margin-bottom: 20px;
    .dogSearch-title {
      font-size: 1.5rem;
      margin: 10px 0;
    }
  }
  .dogListings {
    @media (min-width: $md) {
      width: 40%;
      margin: 0;
      display: inline-flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 40px;
    }
    @media (min-width: $lg) {
      width: 30%;
    }
  }
}
