.dropdownContainer {
  width: 100vw;
  display: inline;
  position: absolute;
  background-color: rgb(226, 226, 226);
  z-index: 10000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  top: 75px;
  left: 0px;
  ul {
    padding: 10px 10px;

    li {
      padding: 4px 10px;
      margin-bottom: 5px;
      border-bottom: 1px solid black;
      text-align: center;
      a {
        color: black;
      }
    }
    li:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  @media (min-width: 768px) {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    width: 140px;
    left: auto;
    top: 60px;
    right: 50px;
  }
}
