.searchPage {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .searchPage-paw-icon {
    height: 25px;
  }
  .searchPage-btn-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .searchPage-btn {
    background: $dark-color-highlight;
    padding: 10px 15px;
    border-radius: 1px;
    width: 140px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 1rem;
    &:hover {
      background: $dark-color;
    }
    &:focus {
      background: $dark-color;
    }
  }
}
