.singleDog {
  //   background-color: #6fb369;
  text-align: center;
  line-height: 1.3;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 30px;

  @media (min-width: $md) {
    display: flex;
    height: 300px;
    justify-content: space-around;
    align-items: center;
  }

  .singleDog-title {
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 12px;
  }
  .singleDog-info {
    @media (min-width: $md) {
      width: 375px;
    }
  }
  .singleDog-parag {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    .singleDog-parag-bold {
      font-weight: 600;
    }
  }

  .singleDog-img {
    width: 375px;
    height: 300px;
  }
  .singleDog-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .singleDog-paw-icon {
    height: 25px;
    margin-bottom: 20px;
  }
  .singleDog-line {
    width: 80%;
    margin: auto;
    border-bottom: 2px solid $off-black;
    margin-bottom: 20px;
    @media (min-width: $md) {
      display: none;
    }
  }
  .singleDog-btn {
    background: $dark-color-highlight;
    padding: 10px 15px;
    border-radius: 1px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    &:hover {
      background: $dark-color;
    }
    &:focus {
      background: $dark-color;
    }
  }
}
