.slider-body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  height: 600px;
  overflow: hidden;

  @media (min-width: $lg) {
    flex-direction: row;
    height: 480px;
  }

  .carousel {
    height: 400px;
  }
}

.random-btn {
  color: $light-color;
}

.dog-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: 100% 20%;
  @media (min-width: $lg) {
    width: 700px;
    height: 480px;
  }
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
  &:focus {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.button-left {
  position: absolute;
  top: 214px;
  height: 26px;
  width: 26px;
  padding: 0px;
  left: 20px;
}

.button-right {
  position: absolute;
  top: 214px;
  padding: 0px;
  height: 26px;
  width: 26px;

  @media (min-width: $sm) {
    right: 20px;
  }
  @media (min-width: $md) {
  }
  @media (min-width: $lg) {
    right: 0px;
    left: 645px;
  }
}

.arrow-icon {
  background-color: none;
  height: 26px;
  width: 26px;
}

.text-box {
  display: flex;
  flex-direction: column;
  font-family: $parag-font;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: $light-color;
  height: 100%;
  .text-box-title {
    font-weight: 500;
    width: 80%;
    border-bottom: 2px solid black;
    font-size: 1.4rem;
    padding-bottom: 20px;
    margin-bottom: 30px;
    @media (min-width: $lg) {
      padding-bottom: 40px;
      margin-bottom: 60px;
      font-size: 2rem;
    }
  }
  .text-box-parag {
    width: 80%;

    font-weight: 300;
    margin-bottom: 20px;
    @media (min-width: $lg) {
      font-size: 1.2rem;
      margin-bottom: 40px;
    }
  }
  .random-btn {
    background: $dark-color-highlight;
    padding: 10px 15px;
    border-radius: 1px;
    font-size: 1.2rem;
    &:hover {
      background: $dark-color;
    }
    &:focus {
      background: $dark-color;
    }
  }
}
