@import "variables";
@import "dropdown";
@import "header";
@import "slider";
@import "home";
@import "about";
@import "footer";
@import "contact";
@import "singleDog";
@import "searchPage";
@import "dogSearch";
body {
  background-color: $light-color;
  font-family: $parag-font;
  height: 100%;
  min-width: 375px;
}
.container {
  position: relative;
  min-height: 100vh;
}
.wrap {
  padding-bottom: 225px;
  @media (min-width: 768px) {
    padding-bottom: 175px;
  }
}
