.dropdownContainer {
  width: 100%;
  display: inline;
  position: absolute;
  background-color: #f0ecec;
  z-index: 10000;
  font-family: "Roboto", sans-serif;
  border-bottom: 4px solid #963876;
  border-radius: 10px;
  font-weight: 400;
  top: 75px;
  left: 0px;
}

.dropdownContainer ul {
  padding: 10px 10px;
}

.dropdownContainer ul li {
  padding: 4px 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
  text-align: center;
}

.dropdownContainer ul li a {
  color: black;
}

.dropdownContainer ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.dropdownContainer .nav-link-tab {
  display: inline-block;
  height: 100%;
  width: 100%;
  color: black;
}

@media (min-width: 500px) {
  .dropdownContainer {
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    width: 140px;
    left: auto;
    top: 60px;
    right: 25px;
  }
}

@media (min-width: 768px) {
  .dropdownContainer {
    display: none;
  }
}

.header {
  font-family: "Mulish", sans-serif;
  position: -webkit-sticky;
  position: sticky;
  color: #f0ecec;
  height: 75px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #832161;
  margin: 0px;
  position: relative;
}

.header .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: 25px;
}

@media (min-width: 768px) {
  .header .title-box {
    margin-left: 100px;
  }
}

@media (min-width: 500px) {
  .header .title-box {
    margin-left: 75px;
  }
}

.header .title-box h1 {
  font-weight: 500;
  font-size: 2rem;
}

.header .title-box h6 {
  font-family: "Dancing Script", cursive;
}

.header .nav {
  margin-right: 25px;
}

@media (min-width: 500px) {
  .header .nav {
    margin-right: 75px;
  }
}

@media (min-width: 768px) {
  .header .nav {
    margin-right: 100px;
  }
}

.header .nav-button {
  color: #f0ecec;
}

.header .nav-button:focus {
  background-color: #963876;
}

@media (min-width: 768px) {
  .header .nav-button {
    display: none;
  }
}

.header .nav-bar {
  display: none;
}

@media (min-width: 768px) {
  .header .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header .tab {
  margin-left: 25px;
  text-align: center;
}

.header .nav-link {
  color: #f0ecec;
}

.header .tab-active {
  background-color: #963876;
  padding: 10px 15px;
  margin: 0 -15px;
  border-radius: 20px;
  font-weight: 500;
}

.slider-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: auto;
  height: 600px;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .slider-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 480px;
  }
}

.slider-body .carousel {
  height: 400px;
}

.dog-image {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 20%;
     object-position: 100% 20%;
}

@media (min-width: 1024px) {
  .dog-image {
    width: 700px;
    height: 480px;
  }
}

.slider-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0px;
}

.slider-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-button:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.button-left {
  position: absolute;
  top: 214px;
  height: 26px;
  width: 26px;
  padding: 0px;
  left: 20px;
}

.button-right {
  position: absolute;
  top: 214px;
  padding: 0px;
  height: 26px;
  width: 26px;
}

@media (min-width: 500px) {
  .button-right {
    right: 20px;
  }
}

@media (min-width: 1024px) {
  .button-right {
    right: 0px;
    left: 645px;
  }
}

.arrow-icon {
  background-color: none;
  height: 26px;
  width: 26px;
}

.text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0ecec;
  height: 100%;
}

.text-box .text-box-title {
  font-weight: 500;
  width: 80%;
  border-bottom: 2px solid black;
  font-size: 1.4rem;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

@media (min-width: 1024px) {
  .text-box .text-box-title {
    padding-bottom: 40px;
    margin-bottom: 60px;
    font-size: 2rem;
  }
}

.text-box .text-box-parag {
  width: 80%;
  font-weight: 300;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .text-box .text-box-parag {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
}

.text-box .random-btn {
  background: #963876;
  padding: 10px 15px;
  border-radius: 1px;
  font-size: 1.2rem;
}

.text-box .random-btn:hover {
  background: #832161;
}

.text-box .random-btn:focus {
  background: #832161;
}

.home-body .slider {
  display: none;
}

@media (min-width: 500px) {
  .home-body .slider {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: block;
    margin: auto;
  }
}

@media (min-width: 1960px) {
  .home-body .slider {
    width: 1960px;
  }
}

.about {
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
}

@media (min-width: 1024px) {
  .about {
    padding-bottom: 20px;
  }
}

.about .large-dog-img {
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .about .large-dog-img {
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.about .about-section {
  max-width: 1024px;
  margin: auto;
}

.about .about-section .about-main {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.about .about-section .about-main .about-title {
  font-weight: 600;
  font-size: 1.6rem;
  width: 100%;
  margin: auto;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.about .about-section .about-main .about-description {
  line-height: 1.2;
  margin-bottom: 40px;
}

.about .about-section .paw-icon {
  width: 40px;
  margin: auto;
}

.about .about-section .about-points .about-value-title {
  font-size: 1.5rem;
  width: 80%;
  margin: auto;
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.about .about-section .about-points .about-values {
  width: 100%;
  margin: auto;
}

.about .about-section .about-points .about-values .about-sub .about-sub-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.about .about-section .about-points .about-values .about-sub .about-sub-description {
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
}

.about .about-section .about-points .about-values .about-sub .paw-icon {
  width: 25px;
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  .about .about-section .about-points .about-values {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer {
  height: 300px;
  margin-top: 20px;
  width: 100%;
  background-color: #0e1111;
  position: absolute;
  bottom: 0;
  color: #f0ecec;
}

@media (min-width: 768px) {
  .footer {
    height: 175px;
  }
}

@media (min-width: 768px) {
  .footer .footer-group {
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .footer-info .footer-title {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.footer .footer-info .footer-contact {
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.footer .social {
  color: #f0ecec;
}

.footer .social .footer-icon {
  fill: #f0ecec;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5px;
}

.footer .footer-links .footer-link-a {
  color: #f0ecec;
  padding: 3px 0;
}

.footer .author {
  width: 100%;
  margin-left: -15px;
  text-align: center;
  margin-top: 5px;
}

.footer .author .footer-text {
  font-size: 0.9rem;
}

.footer .author .footer-github {
  color: #f0ecec;
  font-size: 0.8rem;
}

.footer .footer-content {
  padding: 10px 15px;
}

@media (min-width: 768px) {
  .footer .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body {
  background-color: #f0ecec;
  font-family: "Helvetica Neue", sans-serif;
  height: 100%;
}

.container {
  position: relative;
  min-height: 100vh;
}

.wrap {
  padding-bottom: 300px;
}

@media (min-width: 768px) {
  .wrap {
    padding-bottom: 175px;
  }
}
/*# sourceMappingURL=Styles.css.map */